<%= render "menu" %>

<h2> Školení řidičů </h2>

<p>
<table>
  <tr>
    <th>Osoba</th>
    <th>Platnost do</th>
  </tr>

<% @users.each do |user| %>
  <tr>
  	
    <td><%= link_to user.sur_firstname , edit_user_path(user)%></td>
    <td>
    <% if user.rider < DateTime.now.to_date %>
  		<span style="color: red">	
  	<% else %>
  		<span style="color: green">	
  	<% end %>
    <%= user.rider.strftime('%d.%m.%Y') %>
    	</span>
    </td>
    
  </tr>
<% end %>

  <tr>
   <td> <hr></td> 
   
   <td> </td> 
  </tr>

<% @users2.each do |user| %>
  <tr>
    <td><%= link_to user.sur_firstname , edit_user_path(user)%></td>
  </tr>
<% end %>
</table>
</p>

<% session[:previous_url] = request.fullpath %>