/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require_tree .
 */
 /*
 *= require jquery.ui.all
 */

tr:nth-child(even) {background: white}
tr:nth-child(odd) {background: #f0f0ff} 
td, th
{
	padding-right:10px;
	padding-left:10px;
}
tr.d0 {background:#C0C0C0}
tr.d1 {background:#999933}
tr.d2 {background: #99FFCC}
tr.d3 {background: #FFFFCC}
tr.d4 {background: #FF9933}
tr.d5 {background: #00CCFF}

tr.even {background: white}
tr.odd {background: #f0f0ff} 
